/* Наши клиенты */

.clients-section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.clients-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}

.client {
    display: block;
    width: 170px;
    height: 90px;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}

.client__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    cursor: pointer;
    border: 1px solid var(--social-color);
    border-radius: 4px;
    transition: border var(--time-duration) var(--cubic-time);
    &:focus,
    &:hover {
        border-color: var(--accent-color);
    }
}

.client__icon {
    fill: var(--social-color);
    transition: fill var(--time-duration) var(--cubic-time);
    .client__link:hover &,
    .client__link:focus & {
        fill: var(--accent-color);
    }
}