/* главная секция */

.section-main {
    text-align: center;
    background-color: var(--footer-backgr-color);
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( rgba(83, 84, 95, 0.4), rgba(83, 84, 95, 0.4)), url('../images/img/hero-mobil@1x.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 480px) {
        padding-top: 118px;
        padding-bottom: 118px;
        max-width: 480px;
        height: 400px;
        background-size: 480px 400px;
        background-image: linear-gradient( rgba(83, 84, 95, 0.4), rgba(83, 84, 95, 0.4)), url('../images/img/hero-mobil@1x.jpg');
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient( rgba(83, 84, 95, 0.4), rgba(83, 84, 95, 0.4)), url('../images/img/hero-mobil@2x.jpg');
        }
    }
    @media screen and (min-width: 768px) {
        padding-top: 118px;
        padding-bottom: 118px;
        max-width: 768px;
        height: 400px;
        background-size: 768px 400px;
        background-image: linear-gradient( rgba(83, 84, 95, 0.4), rgba(83, 84, 95, 0.4)), url('../images/img/hero-lap@1x.jpg');
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient( rgba(83, 84, 95, 0.4), rgba(83, 84, 95, 0.4)), url('../images/img/hero-lap@2x.jpg');
        }
    }
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 210px;
        max-width: 1600px;
        height: 600px;
        background-size: 1600px 600px;
        background-image: linear-gradient( rgba(83, 84, 95, 0.4), rgba(83, 84, 95, 0.4)), url('../images/img/hero@1x.jpg');
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient( rgba(83, 84, 95, 0.4), rgba(83, 84, 95, 0.4)), url('../images/img/hero@2x.jpg');
        }
    }
    ;
}

.section-main__title {
    display: block;
    margin-top: 0;
    font-weight: 900;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    @media screen and (max-width: 479px) {
        margin: 0 auto;
        max-width: 100%;
        font-size: 26px;
        line-height: 1.615;
    }
    @media screen and (min-width: 480px) and (max-width: 1199px) {
        margin: 0 auto;
        width: 360px;
        font-size: 26px;
        line-height: 1.615;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        width: 696px;
        font-size: 44px;
        line-height: 1.363;
    }
    ;
}

.section-main__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    transition: color var(--time-duration) var(--cubic-time);
}

.section-main__button:hover,
.section-main__button:focus {
    color: var(--primary-text-color);
}