/* секция приимущества студии */

.quality {
    padding-top: 60px;
    padding-bottom: 30px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.quality-list {
    / @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.element {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        margin-bottom: 30px;
        &:nth-child(2n + 1) {
            margin-right: 30px;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.element__card {
    background-color: var(--button-color);
    border-radius: 4px;
    margin-bottom: 30px;
    background-position: center;
    text-align: center;
}

.element__icon {
    width: 70px;
    height: 70px;
    margin: 25px 100px;
}

.element__title {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--secont-text-color);
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.element__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--notactiv-color);
}