h1,
h2,
h3,
ul,
p,
input {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secont-text-color);
    cursor: pointer;
}

li {
    list-style-type: none;
}

button {
    border: none;
    padding: 0;
    margin: 0;
}